node_modules/*
.vscode/*
build/*
dist/*
output/*
html-report/*
~tmp/*
.baseDir*
.tsdrc
.tscache
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
*.env
.env.stage
.env.prod
.env.test
coverage/*
.DS_Store
.idea/
dependency-graph.svg
.eslintrc.mjs
.eslintignore

!public/i18n/.gitkeep
public/i18n/*
public/mock
public/manifest.json
src/index.html
.gitlab-ci.yml

*.md
commitlint.config.js
*.scss